<div class="wrapper">
  <div class="container">
    <div class="row bg-light">
      <div class="col footer-block">
        <div class="footer-title">
          <a class="footer-logo" href="#">Midori Book Store</a>
        </div>
        <div class="footer-content">
          <a href="#">About Midori</a>
          <a href="#">Midori Careers</a>
          <a href="#">Seller Center</a>
        </div>
      </div>
      <div class="col footer-block">
        <div class="footer-title">
          <h5>CUSTOMER SERVICE</h5>
        </div>
        <div class="footer-content">
          <a href="#">Help Center</a>
          <a href="#">How To Buy</a>
          <a href="#">Return & Refund</a>
          <a href="#">Contact Us</a>
        </div>
      </div>
      <div class="col footer-block">
        <div class="footer-title">
          <h5 class="footer-title">PAYMENT</h5>
        </div>
        <div class="payment-content">
          <a href="#" class="payment-logo"
            ><img class="rounded-circle" src="https://static.mservice.io/img/logo-momo.png" alt=""
          /></a>
          <a href="#" class="payment-logo"
            ><img class="rounded-circle" src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/b1/8c/b18cd405-3927-460f-a03c-5229199add79/logo-apa_400x400.png__300x300_q95_crop_subsampling-2.png" alt=""
          /></a>
          <a href="#" class="payment-logo"
            ><img class="rounded-circle" src="https://yt3.ggpht.com/a/AGF-l7-fcQ_7uSGMwxvqfsCegVhciADEgUOzt9rUTQ=s900-c-k-c0xffffffff-no-rj-mo" alt=""
          /></a>
        </div>
      </div>
      <div class="col footer-block">
        <div class="footer-title">
          <h5 class="footer-title">FOLLOW US</h5>
        </div>
        <div class="footer-content">
          <a href="#"
            ><i class="fab fa-facebook-square follow-icon"></i>Facebook</a
          >
          <a href="#"
            ><i class="fab fa-twitter-square follow-icon"></i>Twitter</a
          >
          <a href="#"><i class="fab fa-instagram follow-icon"></i> Instagram</a>
        </div>
      </div>
    </div>
    <div class="row bg-light">
      <div class="col">
        <p>© 2019 Midori. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
