<div class="wrapper">
  <div class="container">
    <div class="sidebar bg-light">
      <div class="nav flex-column" id="">
        <div class="portfolio">
          <p>Book portfolio</p>
        </div>

        <div class="nav-info">
          <a class="nav-link" href="#">Midori Book Store <fa-icon [icon]="faChevronDown"></fa-icon></a>
          <div class="collapse in">
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >English Books</a
            >
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Vietnamese Books</a
            >
          </div>
        </div>

        <div class="nav-info">
          <a
            class="nav-link"
            href="#"
            >Publisher <fa-icon [icon]="faChevronDown"></fa-icon>
          </a>
          <div class="collapse in">
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >English Books</a
            >
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Vietnamese Books</a
            >
          </div>
        </div>

        <div class="nav-info">
          <a
            class="nav-link"
            href="#"
            >Author <fa-icon [icon]="faChevronDown"></fa-icon>
          </a>
          <div class="collapse in">
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Nguyen Nhat Anh</a
            >
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Vietnamese Books</a
            >
          </div>
        </div>

        <div class="nav-info">
          <a
            class="nav-link"
            href="#"
            >Delivery address <fa-icon [icon]="faChevronDown"></fa-icon>
          </a>
          <div class="collapse in">
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Hanoi</a
            >
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Ho Chi Minh City</a
            >
          </div>
        </div>

        <div class="nav-info">
          <a
            class="nav-link"
            id=""
            href="#"
            >Brand origin <fa-icon [icon]="faChevronDown"></fa-icon>
          </a>
          <div class="collapse in">
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Vietnam</a
            >
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >French</a
            >
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >China</a
            >
            <a href="#" class="nav-link ml-3 my-1" aria-selected="true"
              >Japan</a
            >
          </div>
        </div>

        <div class="nav-info">
          <a
            class="nav-link"
            href="#"
            >Rating <fa-icon [icon]="faChevronDown"></fa-icon>
          </a>
          <div class="collapse in">
            <a href="#" class="nav-link ml-3" aria-selected="true">
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star"></i>
              <p>(at least 4 stars)</p>
            </a>
            <a href="#" class="nav-link ml-3" aria-selected="true">
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <p>(at least 3 stars)</p>
            </a>
            <a href="#" class="nav-link ml-3" aria-selected="true">
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <p>(at least 2 stars)</p>
            </a>
            <a href="#" class="nav-link ml-3" aria-selected="true">
              <i class="fas fa-star star-color"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <p>(at least 1 star)</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
